*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.boxcenter{
    width:60%;
    margin: 0 auto;
}
.row{
    float:left;
    width: 100%;
}
.mb{
    margin-bottom: 30px;
}
.mb10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: blueviolet ;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px #9999 solid;
    font-size: 00.8vw;
    color: blue;
    border-radius: 5px;
}
.header h1{
    margin: 20px;
    font-size: 1.2vw;
}
.menu{
    background-color:black;
    color: #ccc;
    border-radius: 5px ;
}
.boxtrai{
    float:left;
    width: 74%;
}
.boxphai{
    float:left;
    width: 24%;
}
.footer{
    background-color: seagreen;
    border: 1px #ccc solid;
    color:black;
    border-radius: 5px;
    padding: 20px;
}
.boxtitle{
    color: #FFF;;
    background-color: black;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px #ccc solid;
    
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right:1px #ccc solid;
    border-bottom:1px #ccc solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right:1px #ccc solid;
    background-color: #EEE;
}
.boxfooter{
    background-color: seashell;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left:1px #ccc solid;
    border-right-color:1px #ccc solid;
    border-bottom:1px #ccc solid;
    
}
.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img{
    height: 300px;

}
.boxsp{
    float:left;
    width: 32%;
    min-height: 300px;
    border:1px #eee solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.boxsp .img{
    min-height: 230px;
    text-align: center;
}
.img img{
    height: 220px;
}
.menu ul{
    padding: 0px 15px;
}
.menu ul li{
    list-style-type: none ;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a{
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover { 
    color: #ccc;
    font-size: 0.8vw;
/* box tai khoan*/
}
.formtaikhoan{
    line-height: 150%;
}
.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] { 
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtaikhoan input[type="checkbox"]{
    border-radius: 5px;
}
.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"]{
    padding: 5px 10px;
    border-radius: 5px;
    background-color:white;
    border:#ccc solid;
}
.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover{
    background-color:#ccc;
    
}
.formtaikhoan li a{
    color: teal;
    text-decoration: none;

}
.formtaikhoan li a:hover{
    color: #050;
    text-decoration: underline;

}
.menudoc ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.menudoc ul li{
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom:1px #CCC solid;

}
.menudoc ul li a{
    color: #666;
    text-decoration: none;
}
.menudoc ul li:hover{
background-color: #CCC;
}
.search input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
    border:1px #CCC solid;
    border-radius: 5px;
}
.top10 img{
    width: 20%;
    height: 50px;
    float:left;
    margin-right: 10px;
    border-radius: 5px;
    border:1px #CCC solid;

    
}
.top10 a{
    color:#666;
    text-decoration: none;
}
.top10 a:hover{
    color:#000;
    text-decoration: none;
}
.headeradmin{
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666 ;
    border-radius: 5px;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.frmtitle{
    background-color: #EEE;
    border: 1px #ccc solid;
    color: #666 ;
    border-radius: 5px;
    padding: 0px 20px;

}
.frmcontent{
    padding: 20px 0px;

}
.frmdanhsachloai table{
    width: 100%;
    border-collapse:collapse;
  
}
.frmdanhsachloai table th:nth-child(1){
    width: 10%;
    padding: 20px;
    background-color: #ccc;
}
.frmdanhsachloai table th:nth-child(2){
    width: 30%;
    background-color: #ccc;
}
.frmdanhsachloai table th:nth-child(3){
    width: 40%;
    background-color: #ccc;
}
.frmdanhsachloai table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
}
.frmdanhsachloai table td{
    padding: 10px 20px;
    border:1px #ccc solid;


}

